.submitForm {
    background-color: #550751 !important;
    color: white !important;
    display: inline-block;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.demo-progress .el-progress--line {
    display: inline-block;
    margin-bottom: 15px;
    width: 100px;
}

.demo-progress .el-progress--circle {
    margin-right: 15px;
    display: inline-flex;

}
