.home_icon {
    float: left;
    margin-top: -30px;
    margin-left: -15px;
    display: none;
}

.login-card {
    display: flex;
}

.loginimg {
    background-color: #DDE8FE;
}

.semi-circle-bottom:lang(ar) {
    position: absolute;
    float: right;
    width: 70px;
    height: 70px;
    /* margin-top:20px; */
    margin-right: 100px;
    border-radius: 50%;
    background: #ff4de4;
}

.semi-circle-bottom:lang(en) {
    /* position: absolute; */
    float: right;
    width: 70px;
    height: 70px;
    /* margin-top:20px; */
    margin-right: 100px;
    border-radius: 50%;
    background: #ff4de4;
}

.semi-circle-right {
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #550751
}

.semi-circle {
    position: absolute;
    transform: translate(-40%, -40%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e78ce1;
}

:lang(ar) {
    direction: rtl;
}

.text {
    font-size: 14px;
}

.box-card {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    height: 90%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.el-card__body {
    padding: 1px;
}

.el-link {
    font-size: 18px;
    text-align: center;
    display: block;
}

.bg-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: radial-gradient(circle, lavender 49px, transparent 50px);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left -20px top -30px;
}

.btn-form {
    background-color: #ff4de4;
}

.btn-form:hover {
    background-color: #374151;
}

.btn-form:focus {
    background-color: #374151;
}

.m-left:lang(ar) {
    padding: 10px;
}

@media (max-width:800px) {
    .semi-circle-bottom:lang(ar) {
        position: absolute;
        float: right;
        width: 50px;
        height: 50px;
        /* margin-top:20px; */
        margin-right: 60px;
        border-radius: 50%;
        background: #ff4de4;
    }

    .semi-circle-bottom:lang(en) {
        /* position: absolute; */
        float: right;
        width: 50px;
        height: 50px;
        /* margin-top:20px; */
        margin-right: 60px;
        border-radius: 50%;
        background: #ff4de4;
    }

    .semi-circle-right {
        position: absolute;
        margin-top: 50px;
        margin-left: 85px;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #550751
    }

    .semi-circle {
        position: absolute;
        transform: translate(-40%, -40%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #e78ce1;
    }

    .home_icon {
        float: left;
        margin-top: -30px;
        margin-left: -15px;
        display: block;
    }

    .loginimg {
        display: none;
    }

    .login-form {
        max-width: 100%;
        flex: 0 0 50%;
    }

    .login-card {
        /* display: block; */
        width: 90%;
    }
}

@media (max-width:800px) {
    .loginimg {
        display: none;
    }

    .login-form {
        max-width: 100%;
        flex: 0 0 50%;
    }

    .login-card {
        display: block;
        width: 90%;
    }
}

@media (max-width:800px) {
    .login-card {
        display: block;
        width: 90%;
    }

    .box-card {
        width: 95%;
        height: 60%;
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
    }

    .semi-circle-bottom:lang(ar) {
        position: absolute;
        float: right;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-right: -7px;
        border-radius: 50%;
        background: #ff4de4;
    }

    .semi-circle-bottom:lang(en) {
        /* position: absolute; */
        float: right;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-right: -7px;
        border-radius: 50%;
        background: #ff4de4;
    }

    .semi-circle {
        position: absolute;
        transform: translate(-40%, -40%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #e78ce1;
    }

    .semi-circle-right[data-v-a2ac2cea] {
        position: absolute;
        margin-top: 33px;
        margin-left: 58px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background: #550751;
    }
}

